.match-view {
  width: 100vw;
  height: 100vh;
  display: flex;

  &__result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hide {
    @media screen and (max-width: 810px) {
      display: none;
    }
  }

  .paper,
  .stone,
  .scissors {
    position: absolute;
    left: 0;
    top: 50%;
    transform: scaleX(-1) translateY(-50%);
    @extend .hide;
  }

  .paper,
  .scissors-reverse,
  .scissors,
  .paper-reverse {
    width: 500px;
    @extend .hide;
  }

  .stone,
  .stone-reverse {
    width: 300px;
  }

  .scissors-reverse,
  .stone-reverse,
  .paper-reverse {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @extend .hide;
  }
}
