.room {
  &-item {
    display: inline-flex;
    min-width: 250px;
    border: 1px solid black;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
    &:hover {
      cursor: pointer;
    }
    &__name {
      span {
        font-family: sans-serif;
      }
    }
  }
}
