.game-buttons {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  button {
    height: 30px;
    margin-right: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    &:last-child {
      margin-right: 0;
    }
  }
}
