.home {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  .gif1 {
    transform: rotate(45deg);
    position: absolute;
    width: 500px;
    left: 0;
    top: 50%;
  }
  .gif2 {
    transform: rotate(-45deg);
    position: absolute;
    width: 500px;
    right: 0;
    top: 50%;
  }
  &-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
  }
  &-logo {
    margin: 50px 0;
  }
  span {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    margin-top: 50px;
    &:hover {
      font-size: 20px;
      transition: all 500ms ease-in-out;
    }
  }
  &-game,
  &-room {
    text-decoration: none;
    margin-top: 30px;
    &:hover {
      font-size: 20px;
    }
  }
}
