.room-create {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &__wrapper {
    margin-top: 10px;
    flex: 0 1 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px 50px;
    img {
      width: 198px;
      margin: 20px auto;
    }
  }

  input {
    margin-bottom: 10px;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 18px;
    color: #000;
    &::placeholder {
      color: #000;
    }
    @media screen and (max-width: 440px) {
      width: auto;
    }
  }

  button {
    margin: 5px 0;
    text-transform: uppercase;
    background-color: #000;
    outline: none;
    box-shadow: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
  }

  &__error {
    color: red;
  }
  &__link {
    color: #000;
    text-align: center;
    &:hover {
      text-decoration: underline !important;
    }
  }
}
